body
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245, 240, 240);
    
}

.header
{
    width: 522px;
    flex-shrink: 0;
    border: solid grey 0.5px;
    border-bottom: 0;
    text-align: center;
}

.level
{
    
    margin-right: 360px;
}

.level > select
{
    background-color: rgb(245, 240, 240);
    border-bottom: solid black 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.level > select:hover
{
    cursor: pointer;
}
#turn
{
    color: grey;
    height: 18.5px;
}

.markerbtn
{
    margin-top: 5vh;
    margin-bottom: 10px;
    justify-content: center;
}

.markerbtn > button
{
    width: 150px;
    height: 40px;
    border-radius: 2vh;
    border: solid;
}

.marker:hover
{
    cursor: pointer;
}

.wrapper
{
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 523px;
    height: 330px;
    background-color: #31c3c3;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.anime 
{
    animation: grow 1s ease; 
}

.container > div
{
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    background-color: #31c3c3;
}
 
.container > div > div
{
    font-size: 50px;
    font-weight: 100px;
    padding: 5px;
    width: 100px;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
   
}

.container > div > div:hover
{
    cursor: pointer;
}

.row1
{
    border-bottom: solid rgb(67, 146, 143) 5px;
}

.row2
{
    border-bottom: solid rgb(67, 146, 143) 5px;
}

.yline
{
    border-right: solid rgb(67, 146, 143) 5px;

}

button  
{
    margin : 4px;

}

.replay
{
    width: 523px;
    font-size: 15px;
    margin: auto;
    text-align: center;
    height: 45px;
    background-color: white;
    border: solid grey 0.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-top: 0;
    color: rgb(67, 146, 143);
}

.replay:hover
{
    cursor: pointer;
}

.finalscore{
    display: none;
    font-family: sans-serif;
    position: absolute;
    top:40%;
}

.outcome
{
    font-size: 120px;
    text-align: center;
}
.footer
{
    font-family: sans-serif;
    text-align: center;
    margin-top: 10vh;
    font-size: 12px;
}

.footer > img
{
    height: 11vh;
}

.lines
{
    position: absolute;
    height: 80%;
    width: 6px;
}

.lines.v2
{
    display: none;
    transform-origin: top;
    animation: win 0.8s ease;
}

.lines.v1
{
    display: none;
    margin-right: 22.5%;
    transform-origin: top;
    animation: win 0.8s ease; 
}

.lines.v3
{
    display: none;
    margin-left: 22.5%;
    transform-origin: top;
    animation: win 0.8s ease;
}

.lines.h1
{
    display: none;
    transform-origin: top;
    animation: winh 0.8s ease;
    transform: rotate(90deg);
    margin-top: 24.5%;
    margin-left: 50%;
    
}

.lines.h2
{
    display: none;
    transform-origin: top;
    animation: winh 0.8s ease;
    transform: rotate(90deg);
    margin-top: 52%;
    margin-left: 50%;
}
.lines.h3
{
    display: none;
    transform-origin: top;
    animation: winh 0.8s ease;
    transform: rotate(90deg);
    margin-left: 50%;
    margin-top: 80%;
}

.lines.d2
{

    display: none;
    transform-origin: top;
    height: 100%;
    margin-left:37.5%;
    margin-top: 15%;
    animation: wind 0.8s ease;
    transform: rotate(37deg);
}

.lines.d1
{
    display: none;
    transform-origin: top;
    margin-right: 36.5%;
    margin-top: 15%;
    height: 100%;
    animation: windbis 0.8s ease;
    transform: rotate(324deg);
}

@keyframes grow
{
    0%
    {
        transform: scale(0.3);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes win 
{
    0%
    {
        transform: scaley(0);
    }
    100%
    {
        transform: scaley(1);
    }
}

@keyframes winh 
{
    0%
    {
        transform: rotate(90deg) scaley(0);
    }
    100%
    {
        transform: rotate(90deg) scaley(1);
    }
}

@keyframes wind
{
    0%
    {
        transform: rotate(37deg) scaley(0);
    }
    100%
    {
        transform: rotate(37deg) scaley(1);
    }
}

@keyframes windbis
{
    0%
    {
        transform: rotate(324deg) scaley(0);
    }
    100%
    {
        transform: rotate(324deg) scaley(1);
    }
}
